extends ../layouts/mainLayout.pug 

block styles
  link(rel="stylesheet" href="/css/forms.css")
  link(rel="stylesheet" href="/css/product.css")

block content
  main
    if errorMessage
      .user-message.user-message-error
        = errorMessage
    .login-form
      form(action=("/reset/" + Token) method="POST")
        .form-control
          label(for="newPassword") New Password 
          input(type="password" name="newPassword" id="newPassword")
        .form-control
          label(for="confirmNewPassword") Confirm New Password
          input(type="password" name="confirmNewPassword" id="confirmNewPassword")
        button.btn(type="submit") Submit
        input(type="hidden" name="_csrf" value=(csrfToken))
        input(type="hidden" name="Token" value=(Token)) 
    .centered 