extends ../layouts/mainLayout.pug 

block styles
  link(rel="stylesheet" href="/css/forms.css")
  link(rel="stylesheet" href="/css/product.css")

block content
  main
    if errorMessage 
      .user-message.user-message-error
        = errorMessage
    form.product-form(action="/admin/add-product" method="POST" enctype="multipart/form-data")
      .form-control
        label(for="title") Title 
        input(type="text" name="title" id="title" value=(oldInput.title ? oldInput.title : ""))
      .form-control
        label(for="image") Image
        input(type="file" name="image" id="image")
      .form-control
        label(for="price") Price 
        input(type="number" name="price" id="price" step="0.01" value=(oldInput.price ? oldInput.price : ""))
      .form-control
        label(for="description") Description 
        textarea(name="description" id="description" rows="5")= (oldInput.description ? oldInput.description : "")
      button.btn(type="submit") Add product
      input(type="hidden" name="_csrf" value=(csrfToken))

