section.pagination 
  a(href="?page=1" class=(currentPage === 1 ? "active" : ""))= 1 
  if currentPage - 1 > 1 
    a(href="?page=" + (currentPage - 1))= currentPage - 1
  if currentPage !== 1 
      a.active(href="?page=" + currentPage)= currentPage
  if currentPage != totalPages
    a(href="?page=" + (currentPage + 1))= currentPage + 1 