extends ../layouts/mainLayout.pug

block styles 
  link(rel="stylesheet" href="/css/product.css")

block content 
  main.centered 
    h1.main_page_title  Welcome to our Shop
    header.cart__header
      .cart__actions
        a.btn(href="/products") Browser products